
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout-index::head-config"></div>


</head>
<body>
<div th:replace="layout-index::navba-top"></div>
<div style="height: 10rem"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<form th:action="@{/update}"  >
    <section class="h-100 bg-dark" th:object="${animalDto}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" >
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img th:src="*{picture}"
                                     alt="Sample photo" class="img-fluid"
                                     style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;height: 50%"/>
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase" style="color: black">Chỉnh sửa động vật </h3>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example7" style="color: black">Tên loài động vật <span
                                        >*</span></label>
                                        <input type="text" id="form3Example7" class="form-control form-control-lg"
                                               th:field="*{name}"/>
                                        <span th:if="${#fields.hasErrors()}" style="color:red" th:errors="*{name}"
                                        ></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example" style="color: black">Tiền ủng hộ động vật yêu thích <span
                                        >*</span></label>
                                        <input type="text" id="form3Example" class="form-control form-control-lg"
                                               th:field="*{price}"/>
                                        <span th:if="${#fields.hasErrors()}" style="color:red" th:errors="*{price}"
                                        ></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example81" style="color: black">Số lượng động vật hiên có trong chuồng<span
                                        >*</span></label>
                                        <input type="number" id="form3Example81" class="form-control form-control-lg"
                                               th:field="*{quantity}"/>
                                        <span th:if="${#fields.hasErrors()}" style="color:red" th:errors="*{quantity}"
                                        ></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example90" style="color: black">Ngày nhập chuồng <span
                                        >*</span></label>
                                        <input type="date" id="form3Example90" class="form-control form-control-lg"
                                               th:field="*{dateExpiration}">
                                        <span th:if="${#fields.hasErrors()}" style="color:red" th:errors="*{dateExpiration}"
                                        ></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="floatingTextarea2" style="color: black">Mô tả <span
                                        >*</span></label>
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                                  id="floatingTextarea2"
                                                  style="height: 100px" th:field="*{description}"></textarea>
                                        <span th:if="${#fields.hasErrors()}" style="color:red" th:errors="*{description}"
                                        ></span>
                                    </div>
                                    <input type="hidden" th:field="*{picture}">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="floatingTextarea2" style="color: black">Loại động vật <span
                                        >*</span></label>
                                        <select class="form-control" th:field="*{animalType}">
                                            <option th:each="type,inter:${animalTypeList}" th:value="${type.id}">
                                                <span th:text="${type.name}"></span>
                                            </option>
                                        </select>
                                        ></span>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="submit" class="btn btn-warning btn-lg ms-2" >Chỉnh sửa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="layout-index::footer"></div>

</form>
</body>

</html>